accelerate
aiohappyeyeballs
aiohttp
aiohttp-retry
aioitertools
aioredis
aiosignal
alabaster
alembic
altair
amqp
anaconda-anon-usage
anaconda-catalogs
anaconda-client
anaconda-cloud-auth
anaconda-navigator
anaconda-project
annotated-types
anyio
appdirs
applaunchservices
appnope
appscript
apyori
archspec
argon2-cffi
argon2-cffi-bindings
arrow
astroid
astropy
astropy-iers-data
asttokens
async-lru
async-timeout
asyncpg
atomicwrites
attrs
automat
autopep8
babel
bcrypt
beautifulsoup4
billiard
binaryornot
black
bleach
blinker
blis
bokeh
boltons
botocore
bottleneck
brotli
cachetools
catalogue
celery
certifi
cffi
chardet
charset-normalizer
click
click-didyoumean
click-plugins
click-repl
cloudpathlib
cloudpickle
colorama
colorcet
comm
conda
conda-build
conda-content-trust
conda-libmamba-solver
conda-pack
conda-package-handling
conda-repo-cli
conda-token
conda_index
conda_package_streaming
confection
constantly
contourpy
cookiecutter
cryptography
cssselect
cycler
cymem
cytoolz
dask
dask-expr
datasets
datashader
debugpy
decorator
defusedxml
deprecation
diff-match-patch
dill
diskcache
distributed
distro
dmglib
dnspython
docstring-to-markdown
docutils
ecdsa
email_validator
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl#sha256=1932429db727d4bff3deed6b34cfc05df17794f4a52eeb26cf8928f7c1a0fb85
entrypoints
et-xmlfile
executing
fastapi
fastapi-cli
fastapi-limiter
fastjsonschema
filelock
flake8
flask
fonttools
frozendict
frozenlist
fsspec
fuzzywuzzy
gensim
gitdb
gitpython
google-api-core
google-auth
google-cloud-vision
googleapis-common-protos
gotrue
graphviz
greenlet
grpcio
grpcio-status
gunicorn
h11
h2
h5py
heapdict
holoviews
hpack
httpcore
httptools
httpx
huggingface-hub
hvplot
hyperframe
hyperlink
idna
imagecodecs
imageio
imagesize
imbalanced-learn
importlib-metadata
incremental
inflection
iniconfig
intake
intervaltree
ipykernel
ipython
ipython-genutils
ipywidgets
isort
itemadapter
itemloaders
itsdangerous
jaraco.classes
jedi
jellyfish
jinja2
jiter
jmespath
joblib
json5
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
jupyter
jupyter-console
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab-pygments
jupyterlab-widgets
jupyterlab_server
jwcrypto
keyring
kiwisolver
kombu
langcodes
language_data
lazy-object-proxy
lazy_loader
lckr_jupyterlab_variableinspector
levenshtein
libarchive-c
libmambapy
linkify-it-py
llama_cpp_python
llvmlite
lmdb
locket
lxml
lz4
mako
marisa-trie
markdown
markdown-it-py
markupsafe
matplotlib
matplotlib-inline
mccabe
mdit-py-plugins
mdurl
menuinst
mistune
more-itertools
motor
mpmath
msgpack
multidict
multipledispatch
multiprocess
murmurhash
mypy
mypy-extensions
navigator-updater
nbclient
nbconvert
nbformat
nest-asyncio
networkx
nltk
notebook
notebook_shim
numba
numexpr
numpy
numpydoc
openai
opencv-python
openpyxl
orjson
overrides
packaging
pandas
pandocfilters
panel
param
parsel
parso
partd
passlib
pathspec
patsy
peft
pexpect
pickleshare
pillow
pkce
pkginfo
platformdirs
plotly
pluggy
ply
postgrest
preshed
prometheus-client
prompt-toolkit
propcache
proto-plus
protobuf
psutil
psycopg2
psycopg2-binary
ptyprocess
pure-eval
py-cpuinfo
pyarrow
pyasn1
pyasn1-modules
pycodestyle
pycosat
pycparser
pyct
pycurl
pydantic
pydantic-extra-types
pydantic-settings
pydantic_core
pydeck
pydispatcher
pydocstyle
pydotplus
pyerfa
pyflakes
pygments
pyjwt
pylint
pylint-venv
pyls-spyder
pymongo
pyobjc-core
pyobjc-framework-cocoa
pyobjc-framework-coreservices
pyobjc-framework-fsevents
pyodbc
pyopenssl
pyparsing
pyqt5
pyqt5-sip
pyqtwebengine
pysocks
pytest
pytest-mock
python-dateutil
python-dotenv
python-http-client
python-jose
python-json-logger
python-jwt
python-levenshtein
python-lsp-black
python-lsp-jsonrpc
python-lsp-server
python-multipart
python-slugify
python-snappy
pytoolconfig
pytz
pyviz_comms
pywavelets
pyyaml
pyzmq
qdarkstyle
qstylizer
qtawesome
qtconsole
qtpy
queuelib
rapidfuzz
readchar
realtime
redis
referencing
regex
reportlab
requests
requests-file
requests-toolbelt
rfc3339-validator
rfc3986-validator
rich
rich-toolkit
rope
rpds-py
rsa
rtree
ruamel-yaml-conda
ruamel.yaml
s3fs
safetensors
scikit-image
scikit-learn
scipy
scrapy
seaborn
semver
send2trash
sendgrid
sentencepiece
service-identity
setuptools
shellingham
sip
six
smart-open
smmap
sniffio
snowballstemmer
sortedcontainers
soupsieve
spacy
spacy-legacy
spacy-loggers
sphinx
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
spyder
spyder-kernels
sqlalchemy
srsly
stack-data
starkbank-ecdsa
starlette
statsmodels
storage3
streamlit
strenum
supabase
supafunc
sympy
tables
tabulate
tblib
tenacity
terminado
text-unidecode
textblob
textdistance
thinc
threadpoolctl
three-merge
tifffile
tinycss2
tldextract
tokenizers
toml
tomli
tomlkit
toolz
torch
torchaudio
torchvision
tornado
tqdm
traitlets
transformers
truststore
twilio
twisted
typer
typing_extensions
tzdata
uc-micro-py
ujson
unicodedata2
unidecode
urllib3
uvicorn
uvloop
vine
w3lib
wasabi
watchdog
watchfiles
wcwidth
weasel
webencodings
websocket-client
websockets
werkzeug
whatthepatch
wheel
widgetsnbextension
wrapt
wurlitzer
xarray
xlwings
xxhash
xyzservices
yarl
zict
zipp
zope.interface
zstandard